<nav class="navbar navbar-expand-lg navbar-modern">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">DSI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>

                <!-- Components -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Components
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/hello" routerLinkActive="active">Hello</a></li>
                        <li><a class="dropdown-item" routerLink="/input" routerLinkActive="active">Input</a></li>
                        <li><a class="dropdown-item" routerLink="/output" routerLinkActive="active">Output</a></li>
                    </ul>
                </li>

                <!-- Templates -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Templates
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/interpolation"
                                routerLinkActive="active">Interpolation</a></li>
                        <li><a class="dropdown-item" routerLink="/listener" routerLinkActive="active">Listener</a></li>
                        <li><a class="dropdown-item" routerLink="/two-way-binding" routerLinkActive="active">Two-way
                                Binding</a></li>
                        <li><a class="dropdown-item" routerLink="/control-flow" routerLinkActive="active">Control
                                Flow</a></li>
                        <li><a class="dropdown-item" routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
                        <li><a class="dropdown-item" routerLink="/ng-template" routerLinkActive="active">ng-template</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/ng-container"
                                routerLinkActive="active">ng-container</a></li>
                    </ul>
                </li>

                <!-- Directives -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Directives
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/ng-class" routerLinkActive="active">ng-class</a></li>
                        <li><a class="dropdown-item" routerLink="/ng-style" routerLinkActive="active">ng-style</a></li>
                        <li><a class="dropdown-item" routerLink="/ng-if" routerLinkActive="active">ng-if</a></li>
                        <li><a class="dropdown-item" routerLink="/ng-for" routerLinkActive="active">ng-for</a></li>
                        <li><a class="dropdown-item" routerLink="/ng-switch" routerLinkActive="active">ng-switch</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>